@font-face {
	font-family: 'slider';
	src:url('../fonts/slider.eot');
	src:url('../fonts/slider.eot?#iefix') format('embedded-opentype'),
		url('../fonts/slider.woff') format('woff'),
		url('../fonts/slider.ttf') format('truetype'),
		url('../fonts/slider.svg#slider') format('svg');
	font-weight: normal;
	font-style: normal;
}

